.footer {
    padding:$xs-size 0 $xs-size 0 ;  
    display: flex;
    justify-content: space-evenly;
    width: 88%;  
    margin:0 auto;  
    border-top: 0.2rem solid #595959;
  }
  
  .behanceImage {
    width:100%;
    height: auto;
    margin-bottom: 50%;
  }
  