@import './base/settings';
@import './base/base';

.header{    
  width: 100%;
  height: auto;
  margin-top: $l-size;
  margin-bottom: $s-size;
}

.header__container {
  position: absolute;
  margin-left: -7%;
  margin-top: 0%;  
  text-align: center;
  width: 55%;
  display: inline-block;
  z-index: 1;
}
  
.header__title {
  font-family: 'Verdana';
  background: $header-blue;
  height: auto    ;
  color: white;
  margin-top: $m-size;
  margin-bottom: $m-size;
  font-size: $xl-size;  
  padding: $xl-size;
  border-radius: $m-size;
}

.header__image__cow{
  position: relative;  
  margin-left: -72.5%;
  width: 25%;
  height: auto;
}

.header__image__bull{
  position: absolute;  
  margin-left:39%;
  width: 20%;
  height: auto;
}

.footer {
  padding:$xs-size 0 $xs-size 0 ;  
  display: flex;
  justify-content: space-evenly;
  position: fixed;  
  bottom: 0;
  width: 78%;  
  margin:0 auto;  
  border-top: 0.2rem solid lightgrey;
}

.behanceImage {
  width:100%;
  height: auto;
  margin-bottom: 50%;
}