@import './base/settings';
@import './base/base';
@import './pages/create';

.header{    
  width: 100%;
  height: auto;  
  margin: $m-size auto $s-size 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header__container {
  // position: absolute;
  margin-left: -7%;
  // margin-top: 0%;  
  // margin: 2% 0 auto -7%;
  text-align: center;
  width: 60%;
  // display: inline-block;
  z-index: 1000;
  // height: 5rem;

}
  
.header__title {
  font-family: 'Verdana';
  background: $header-blue;
  height: auto;
  color: white;
  padding: $m-size;
  border-radius: $m-size;  
   // margin-top: $m-size;
  // margin-bottom: $m-size;
  
}

.header__title h1{
  font-size: $xl-size; 
  margin: 0 auto; 
  margin-bottom: $m-size;
  text-shadow: 0.4rem 0.4rem 0.3rem #1b1b1b;
}

.header__title h6{
  font-size: 2.4rem;  
  font-family: 'Comfortaa';
  margin: 0 auto;
  font-weight: normal;
}

.header__image__cow{
  // position: relative;  
  margin-left: 2rem;
  width: 18%;
  height: auto;
}

.header__image__bull{
  // position: absolute;  
  margin-left:-7%;
  width: 18%;
  height: auto;
}

.footer {
  padding:$xs-size 0 $xs-size 0 ;  
  display: flex;
  justify-content: space-evenly;
  position: fixed;  
  bottom: 0;
  width: 88%;  
  margin:0 auto;  
  border-top: 0.2rem solid lightgrey;
}

.behanceImage {
  width:100%;
  height: auto;
  margin-bottom: 50%;
}
